<a id='start'></a>
# Decision Tree Esercizi

In questo notebook vengono presentati degli esercizi sui Decision Tree. <br>
Provate a svolgere il seguente esercizio: <br>
1) [Albero di decisioni](#section1)<br>

<a id='section1'></a>
## Albero di decisioni

Torniamo ad analizzare i dati dei passeggeri del Titanic. Proviamo a vedere se è possibile realizzare un albero di decisione che ci permetta di discernere chi è morto da chi è sopravvissuto:

In [1]:
import pandas as pd
train = pd.read_csv("data/train_dataset_titanic.csv")
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
import numpy as np
import time
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split

Codifichiamo il sesso come variabile binaria:

In [4]:
train.Sex = train.Sex.map({'female': 1, 'male': 0})
train.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S

Utilizziamo la classe [SimpleImputer](https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html) di sklearn per modificare i dati non esistenti:

In [11]:
imp = SimpleImputer(strategy='mean')
columns = ['Pclass','Sex','Age','Fare','Parch','SibSp']

for col in columns:
    train[col] = imp.fit_transform(train[col].values.reshape(-1, 1))

Dividiamo i dati tra training e test:

In [12]:
X = train[columns]
y = train.Survived

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

### Facciamo la classificazione con il decision tree:

In [14]:
clf = DecisionTreeClassifier(max_depth=3)
clf.fit(X_train, y_train)

tree.export_graphviz(clf,
                     out_file='out/titanic_file.dot',
                     impurity=False,
                     feature_names=X_test.columns.values,
                     class_names=['No', 'Yes'],
                     rounded=True,
                     filled=True)

Ecco l'albero disegnato con [WebGraphViz](http://webgraphviz.com/):

<img src="img/titanic_tree.png">